.modal__container {
  position: absolute;
  background: #f8f8f8;
  width: 100%;
  height: 100vh;
  z-index: 50;

  .modal__box {
    margin: 15vh auto 0;
    background: #ffffff;
    width: 100%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #cdcdcd;

    .modal__title {
      font-weight: 700;
      width: 90%;
      margin: 50px 0 20px;
      text-align: center;
    }

    .payment__amount {
      height: 40px;
      width: 70%;
      padding: 10px 12px;
      margin-bottom: 20px;
      border: 1px solid #cacacf;
      border-radius: 4px;
      background-color: white;
    }

    .modal__buttons {
      width: 70%;
      display: flex;
      justify-content: space-between;

      .modal__button {
        height: 50px;
        width: 48%;
        margin-bottom: 50px;
        display: flex;
        justify-content: center;
        background: #ffb2b3;
        border: 1px solid #ffb2b3;
        border-radius: 50px;
        margin-top: 20px;
        color: white;
        font-weight: 700;
        cursor: pointer;

        &:hover {
          color: #ffb2b3;
          background: white;
          border: 1px solid #ffb2b3;

          .loading__container .loading__box .circle {
            background: #ffb2b3;
          }
        }

        @include loading-animation();
      }
    }

    .modal__buttons--center {
      justify-content: center;
    }

    .donation__button {
      margin-top: 20px;
    }
  }
}
