.cta__banner {
  width: 100%;
  height: 50px;
  padding: 0 3%;
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;

  @media #{$tablet} {
    height: 60px;
  }

  .cta__banner__text {
    color: white;
    line-height: 1.5;
    font-size: 1.4rem;
    text-align: center;

    .cta__banner__link {
      color: #ffb2b3;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
