.donor-dashboard__container {
  width: 100%;
  max-width: 1600px;
  padding: 10vh 3%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;

  .donations__charities {
    width: 48%;
    @include drop-shadow();
    display: flex;
    justify-content: center;
    flex-direction: column;

    .donor__select__buttons {
      margin: 30px 0;
      display: flex;
      width: 100%;
      justify-content: space-around;

      .donor__button {
        width: 40%;
        background: #ffb2b3;
        height: 50px;
        border-radius: 50px;
        color: white;
        font-weight: 700;
        font-size: 1.6rem;
        border: 1px solid #ffb2b3;
        cursor: pointer;
      }
    }

    .donation__card {
      width: 90%;
      border-bottom: 2px solid #cacacf;
      height: 100px;
      margin: 0 5%;
      display: flex;
      justify-content: center;
      flex-direction: column;

      .donation__title {
        margin-bottom: 10px;
      }
    }

    .donation__card:first-of-type {
      border-top: 0;
    }

    .donation__card:last-of-type {
      border-bottom: 0;
    }
  }

  .donor__account {
    width: 48%;
    max-height: 200px;
    @include drop-shadow();
  }
}
